workflows/examples/aws-ec2-tear-down-ondemand.json
{
  "name": "AWS EC2 - Tear Down On-Demand",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "id": "manual-trigger"
    },
    {
      "parameters": {
        "command": "out=$(docker run --rm -v /home/clay/IDE/tools/n8n.mcp/terraform/aws-ec2-ondemand:/workspace -w /workspace hashicorp/terraform:latest output -json 2>/dev/null || echo '{}'); ip=$(echo \"$out\" | node -e \"const d=JSON.parse(require('fs').readFileSync(0,'utf-8')); console.log(d.public_ip?.value||'')\"); if [ -n \"$ip\" ]; then inst=$(echo \"$out\" | node -e \"const d=JSON.parse(require('fs').readFileSync(0,'utf-8')); console.log(d.instance_id?.value||'')\"); priv=$(echo \"$out\" | node -e \"const d=JSON.parse(require('fs').readFileSync(0,'utf-8')); console.log(d.private_ip?.value||'')\"); echo \"{\\\"status\\\":\\\"EC2_FOUND\\\",\\\"directory\\\":\\\"/home/clay/IDE/tools/n8n.mcp/terraform/aws-ec2-ondemand\\\",\\\"public_ip\\\":\\\"$ip\\\",\\\"private_ip\\\":\\\"$priv\\\",\\\"instance_id\\\":\\\"$inst\\\"}\"; else echo '{\"status\":\"NO_EC2\",\"message\":\"No active EC2 instance found to tear down\"}'; exit 1; fi"
      },
      "name": "Find Active EC2",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [460, 300],
      "id": "find-ec2"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "directory",
              "value": "={{ JSON.parse($json.stdout).directory }}"
            },
            {
              "name": "instance_id",
              "value": "={{ JSON.parse($json.stdout).instance_id }}"
            },
            {
              "name": "public_ip",
              "value": "={{ JSON.parse($json.stdout).public_ip }}"
            }
          ]
        }
      },
      "name": "Extract EC2 Info",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [680, 300],
      "id": "extract-ec2"
    },
    {
      "parameters": {
        "command": "=docker run --rm -v {{ $json.directory }}:/workspace -w /workspace hashicorp/terraform:latest destroy -auto-approve"
      },
      "name": "Terraform Destroy",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [900, 300],
      "id": "terraform-destroy"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "EC2 Instance Destroyed Successfully"
            },
            {
              "name": "instance_id",
              "value": "={{ $node[\"Extract EC2 Info\"].json.instance_id }}"
            },
            {
              "name": "public_ip",
              "value": "={{ $node[\"Extract EC2 Info\"].json.public_ip }}"
            },
            {
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}"
            },
            {
              "name": "message",
              "value": "=EC2 instance destroyed. All AWS resources removed (VPC, subnet, security group, instance)."
            },
            {
              "name": "cost_note",
              "value": "Free tier hours have stopped. No further charges for this instance."
            }
          ]
        }
      },
      "name": "Format Results",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1120, 300],
      "id": "format-results"
    },
    {
      "parameters": {
        "command": "=/scripts/workflow-logger.sh \"AWS EC2 - Tear Down On-Demand\" \"SUCCESS\" \"Destroyed: {{ $node[\"Format Results\"].json.instance_id }}, IP: {{ $node[\"Format Results\"].json.public_ip }}\""
      },
      "name": "Log Execution",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1370, 300],
      "id": "log-execution"
    },
    {
      "parameters": {
        "content": "## AWS EC2 - Tear Down On-Demand\n\n**What it does:**\n1. Checks terraform state for active EC2\n2. Runs terraform destroy -auto-approve\n3. Removes all AWS resources\n4. Logs execution\n\n**Resources Destroyed:**\n- EC2 Instance\n- VPC\n- Subnet\n- Internet Gateway\n- Route Table\n- Security Group\n\n**Time:** ~2-3 minutes\n\n**Note:** Always tear down when done\nto stay within free tier limits!\n\n**Warning:** This is irreversible!",
        "height": 380,
        "width": 380
      },
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, 520],
      "id": "sticky-note"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Find Active EC2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Active EC2": {
      "main": [
        [
          {
            "node": "Extract EC2 Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract EC2 Info": {
      "main": [
        [
          {
            "node": "Terraform Destroy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Terraform Destroy": {
      "main": [
        [
          {
            "node": "Format Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Results": {
      "main": [
        [
          {
            "node": "Log Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["aws", "ec2", "terraform", "teardown", "message-queue"]
}
