workflows/examples/aws-ec2-connectivity-test.json
{
  "name": "AWS EC2 - Connectivity Test",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "id": "manual-trigger-aws"
    },
    {
      "parameters": {
        "command": "echo 'SSH Connection Successful to AWS EC2' && hostname && uptime"
      },
      "name": "Test AWS SSH Connection",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [450, 300],
      "id": "ssh-test-aws",
      "credentials": {
        "ssh": {
          "id": "{{ CREDENTIAL_ID }}",
          "name": "AWS EC2 Ubuntu (R_Smurf_001)"
        }
      }
    },
    {
      "parameters": {
        "command": "docker --version 2>/dev/null || echo 'Docker not installed'"
      },
      "name": "Check Docker on AWS",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [650, 300],
      "id": "docker-check-aws",
      "credentials": {
        "ssh": {
          "id": "{{ CREDENTIAL_ID }}",
          "name": "AWS EC2 Ubuntu (R_Smurf_001)"
        }
      }
    },
    {
      "parameters": {
        "command": "df -h / && echo '---' && free -h && echo '---' && cat /etc/os-release | grep PRETTY_NAME"
      },
      "name": "Check AWS System Info",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [850, 300],
      "id": "system-check-aws",
      "credentials": {
        "ssh": {
          "id": "{{ CREDENTIAL_ID }}",
          "name": "AWS EC2 Ubuntu (R_Smurf_001)"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Collect all results from the workflow\nconst sshTest = $node[\"Test AWS SSH Connection\"].json;\nconst dockerCheck = $node[\"Check Docker on AWS\"].json;\nconst systemInfo = $node[\"Check AWS System Info\"].json;\n\nconst dockerInstalled = !dockerCheck.stdout.includes('not installed');\n\nreturn {\n  json: {\n    timestamp: new Date().toISOString(),\n    server: 'AWS EC2 Ubuntu Instance',\n    ip: '3.16.216.114',\n    hostname: 'ec2-3-16-216-114.us-east-2.compute.amazonaws.com',\n    region: 'us-east-2',\n    connectivity: {\n      status: 'SUCCESS',\n      output: sshTest.stdout\n    },\n    docker: {\n      installed: dockerInstalled,\n      output: dockerCheck.stdout\n    },\n    system: {\n      output: systemInfo.stdout\n    },\n    summary: dockerInstalled ? 'AWS EC2 connectivity test completed - Docker available' : 'AWS EC2 connectivity test completed - Docker not installed'\n  }\n};"
      },
      "name": "Summarize AWS Results",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1050, 300],
      "id": "summary-aws"
    },
    {
      "parameters": {
        "command": "=/scripts/workflow-logger.sh \"AWS EC2 - Connectivity Test\" \"SUCCESS\" \"Server: {{ $json.server }}, IP: {{ $json.ip }}, Status: {{ $json.connectivity.status }}\""
      },
      "name": "Log Execution",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1250, 300],
      "id": "log-execution"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Test AWS SSH Connection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test AWS SSH Connection": {
      "main": [
        [
          {
            "node": "Check Docker on AWS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Docker on AWS": {
      "main": [
        [
          {
            "node": "Check AWS System Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check AWS System Info": {
      "main": [
        [
          {
            "node": "Summarize AWS Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize AWS Results": {
      "main": [
        [
          {
            "node": "Log Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
