workflows/examples/aws-ec2-spin-up-ondemand.json
{
  "name": "AWS EC2 - Spin Up On-Demand",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "id": "manual-trigger"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "aws_access_key",
              "value": "YOUR_AWS_ACCESS_KEY"
            },
            {
              "name": "aws_secret_key",
              "value": "YOUR_AWS_SECRET_KEY"
            },
            {
              "name": "aws_region",
              "value": "us-east-2"
            },
            {
              "name": "ssh_key_name",
              "value": "R_Smurf_001"
            },
            {
              "name": "instance_name",
              "value": "n8n-lab-ec2-redis"
            },
            {
              "name": "instance_type",
              "value": "t2.micro"
            },
            {
              "name": "ami_id",
              "value": "ami-03f1669e8a4fc6134"
            }
          ]
        }
      },
      "name": "Set Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [460, 300],
      "id": "set-config"
    },
    {
      "parameters": {
        "command": "=cat > /terraform/aws-ec2-ondemand/terraform.tfvars <<'EOF'\n# AWS EC2 On-Demand Configuration\naws_access_key = \"{{ $json.aws_access_key }}\"\naws_secret_key = \"{{ $json.aws_secret_key }}\"\naws_region     = \"{{ $json.aws_region }}\"\nssh_key_name   = \"{{ $json.ssh_key_name }}\"\nssh_key_path   = \"/home/clay/.ssh/R_Smurf_001.pem\"\ninstance_name  = \"{{ $json.instance_name }}\"\ninstance_type  = \"{{ $json.instance_type }}\"\nami_id         = \"{{ $json.ami_id }}\"\nEOF"
      },
      "name": "Write Terraform Config",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [680, 300],
      "id": "write-config"
    },
    {
      "parameters": {
        "command": "docker run --rm -v /home/clay/IDE/tools/n8n.mcp/terraform/aws-ec2-ondemand:/workspace -w /workspace hashicorp/terraform:latest init"
      },
      "name": "Terraform Init",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [900, 300],
      "id": "terraform-init"
    },
    {
      "parameters": {
        "command": "docker run --rm -v /home/clay/IDE/tools/n8n.mcp/terraform/aws-ec2-ondemand:/workspace -w /workspace hashicorp/terraform:latest plan -out=tfplan"
      },
      "name": "Terraform Plan",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1120, 300],
      "id": "terraform-plan"
    },
    {
      "parameters": {
        "command": "docker run --rm -v /home/clay/IDE/tools/n8n.mcp/terraform/aws-ec2-ondemand:/workspace -w /workspace hashicorp/terraform:latest apply -auto-approve tfplan"
      },
      "name": "Terraform Apply",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [240, 500],
      "id": "terraform-apply"
    },
    {
      "parameters": {
        "command": "docker run --rm -v /home/clay/IDE/tools/n8n.mcp/terraform/aws-ec2-ondemand:/workspace -w /workspace hashicorp/terraform:latest output -json"
      },
      "name": "Get Outputs",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [460, 500],
      "id": "terraform-output"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "EC2 Instance Provisioned Successfully"
            },
            {
              "name": "instance_id",
              "value": "={{ JSON.parse($json.stdout).instance_id.value }}"
            },
            {
              "name": "public_ip",
              "value": "={{ JSON.parse($json.stdout).public_ip.value }}"
            },
            {
              "name": "private_ip",
              "value": "={{ JSON.parse($json.stdout).private_ip.value }}"
            },
            {
              "name": "public_dns",
              "value": "={{ JSON.parse($json.stdout).public_dns.value }}"
            },
            {
              "name": "ssh_command",
              "value": "={{ JSON.parse($json.stdout).ssh_command.value }}"
            },
            {
              "name": "redis_endpoint",
              "value": "={{ JSON.parse($json.stdout).redis_endpoint.value }}"
            },
            {
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}"
            },
            {
              "name": "message",
              "value": "AWS EC2 instance is ready! Redis auto-started on boot (pre-built AMI)."
            },
            {
              "name": "next_step",
              "value": "Redis is running. Spin up IBM VSI next, then deploy consumer to Arch Workstation."
            }
          ]
        }
      },
      "name": "Format Results",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [680, 500],
      "id": "format-results"
    },
    {
      "parameters": {
        "command": "=/scripts/workflow-logger.sh \"AWS EC2 - Spin Up On-Demand\" \"SUCCESS\" \"Instance: {{ $json.instance_id }}, IP: {{ $json.public_ip }}\""
      },
      "name": "Log Execution",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [900, 500],
      "id": "log-execution"
    },
    {
      "parameters": {
        "content": "## AWS EC2 - Spin Up On-Demand\n\n**Configuration:**\n- Instance Type: t2.micro (FREE TIER)\n- Region: us-east-2\n- AMI: Pre-built with Docker + Redis\n\n**What it does:**\n1. Creates terraform.tfvars with AWS creds\n2. Provisions VPC, subnet, security group\n3. Spins up EC2 from pre-built AMI\n4. Redis auto-starts on boot!\n5. Returns connection details\n\n**Security Group Ports:**\n- 22 (SSH)\n- 6379 (Redis)\n\n**After running:**\nRedis is already running!\nNext: Spin up IBM VSI with this IP.\n\n**Cost:** FREE (t2.micro eligible)\n\n**Option C: Hybrid Approach**\nDocker + Redis baked into AMI.",
        "height": 480,
        "width": 400
      },
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, 700],
      "id": "sticky-note"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Configuration": {
      "main": [
        [
          {
            "node": "Write Terraform Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Terraform Config": {
      "main": [
        [
          {
            "node": "Terraform Init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Terraform Init": {
      "main": [
        [
          {
            "node": "Terraform Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Terraform Plan": {
      "main": [
        [
          {
            "node": "Terraform Apply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Terraform Apply": {
      "main": [
        [
          {
            "node": "Get Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Outputs": {
      "main": [
        [
          {
            "node": "Format Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Results": {
      "main": [
        [
          {
            "node": "Log Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["aws", "ec2", "terraform", "message-queue"]
}
